.HomeContainer {
  height: 100vh;
  width: 100vw;
}

.HomeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  height: 100%;
  width: 100%;
}

.Spacer {
  height: 5vh;
  width: 100vw;
}