.Container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: fixed;

  height: 100vh;
  width: 100vw;
  background-color: #0f1119;
  padding-left: 10em;
}

.InnerFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20em;
}

.BlueText {
  color: #33c3e0;
  font-size: 4em;
  line-height: 1em;

}

.GreyText {
  color: #cbd5da;
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;

}