.Container {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100%;

  display: grid;
  place-items: center;
  align-self: flex-center;
  justify-content: center;
}

.Tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'OptimusPrinceps';
  font-size: 1em;

  color: #ffffff;
  opacity: 0.1;
}