.Container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -1;
  overflow: hidden;

  display: grid;
  place-items: center;
  align-self: flex-center;
  justify-content: center;
  
}

.Tile {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'OptimusPrinceps';
  font-size: 1em;

  color: #d8d8d81e;
  /* color: #ffffff;   */

}